{% extends "base/base.html" %}
{% load static %}

{% block title %}
Главная страница
{% endblock %}

{% block content %}
<div id="app" class="container mt-2"  data-microscopes="{{ microscopes }}">
    <!-- Меню вкладок -->
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" :class="{ active: currentTab === 'analyze' }" @click="switchTab('analyze')">Анализ</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" :class="{ active: currentTab === 'results' }" @click="switchTab('results')">Результаты</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" :class="{ active: currentTab === 'calibration' }" @click="switchTab('calibration')">Калибровка</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" :class="{ active: currentTab === 'settings' }" @click="switchTab('settings')">Настройки</a>
        </li>
    </ul>

    <!-- Контейнер для вкладок -->
    <div class="tab-content border p-3 pt-0" style="margin-top: -1px;">
        <!-- Блок для анализа -->
        <div id="analyze-tab" v-show="currentTab === 'analyze'">
            {% include "analyze.html" %}
        </div>

        <!-- Блок для результатов -->
        <div id="results-tab" v-show="currentTab === 'results'"><div class=" mt-4 alert alert-danger">Вкладка "Результаты" ещё не реализована.</div></div>

        <!-- Блок для калибровки -->
        <div id="calibration-tab" v-show="currentTab === 'calibration'">
             {% include "calibration.html" %}
        </div>

        <!-- Блок для настроек -->
        <div id="settings-tab" v-show="currentTab === 'settings'"><div class=" mt-4 alert alert-danger">Вкладка "Настройки" ещё не реализована.</div></div>
    </div>
</div>
{% endblock %}

{% block scripts %}

<script src="{% static 'vue/analyze.vue.js' %}"></script>
<script src="{% static 'vue/calibration.vue.js' %}"></script>
<script src="{% static 'vue/home.vue.js' %}"></script>

{% endblock %}
